.follow-me-container{
    background: #C4C4C4;
    padding-top: 55px;
    justify-content: space-evenly;
}
.follow-me-images img{
    margin-top: 20px;
    margin-right: 35px;
    margin-bottom: -53px;
    height: 252px;
    width: 300px;

}
.follow-me-images img:last-child{
    margin-right: 0;
}
/* make services responsive */
@media only screen and (max-width: 576px) {
   
    .follow-me-images img{
        margin-top: 20px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 10px;
    }
}

/* make responsive */

@media only screen and (min-width: 577px ) and (max-width: 992px){
    .follow-me-images{
        grid-template-columns: repeat(2, 1fr);
    }
    .follow-me-images img{
        margin-top: 20px;
        margin-right: 10px;
        margin-bottom: 0px;
        margin-left: 30px;
    }

}