
.footer{
    height: 150px;
    padding-top: 100px;
}
.social-icons{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.social-icons a{
    text-decoration: none;
}


@media only screen and (max-width: 576px) {
    .footer{
        /* margin-top: 100px; */
        height: 100px;
        padding-top: 30px;
        padding-bottom: 20px;
    }
}
@media only screen and (min-width: 577px ) and (max-width: 991px){
   .footer{
       /* margin-top: 250px; */
       height: 60px;
       padding-top: 20px;
   }
}
