.banner{
    margin-top: 84px;
}
.about-me{
    background-color: #C4C4C4;
    /* padding: 10px; */
}
.about-header{
    margin-top: 100px;
    margin-bottom: 40px;
}
.banner-img{
    width: 50%;
    
}