.banner{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 84px;
    margin-bottom: 85px;
}

.about-me{
    background-color: #C4C4C4;
}
.about-header{
    margin-top: 100px;
    margin-bottom: 30px;
}
.banner-img{
      
}
