.banner{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 84px;
    margin-bottom: 85px;
}

.about-me{
    background-color: #C4C4C4;
}
.about-header{
    margin-top: 100px;
    margin-bottom: 30px;
}


/* make responsive */
@media only screen and (max-width: 576px) {
    .banner{
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 15px;
    }
}

@media only screen and (min-width: 577px ) and (max-width: 992px){
    .banner{
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 15px;
        
    }

}